{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="banner" class="row text-center h-100">
    <div class="col">
        <p class="logo-font my-1 banner-text"><strong id="strong">Discover the new collections</p>
    </div>
</div>
</div>
<div class="container hp-images">
    <div class="row row-cols-4">

    </div>
</div>


<div class="row shop-now">
    <div class="col">
    </div>
    <div class="col-5 text-center logo-font text-black">
        <h1></h1>
        <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
    <div class="col">
    </div>
</div>
</div>

{% endblock %}