{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="banner" class="row text-center h-100">
    <div class="col">
        <h3 class="logo-font my-1 banner-text"><strong id="strong">Discover the new collections</h3>
    </div>
    <div class="">
        <p>Upgrade your workout clothes with an outfit from our womens gym wear section, fitted out with everything
            you
            need to look your very best as you workout down the gym. Our workout clothes will give you the
            confidence to
            dress like you mean it, with the new seamless collections that fit everybody. There is no need to compromise
            your style for comfort, with so much of the range
            offering high-quality technical materials that provide breathability, flexibility and sweat-wicking
            properties, as well as the modern look you are after. From sports bras and leggings to short and
            accessories,
            your next workout fit is right here.</p>
    </div>
</div>
</div>
<div class="container hp-images">
    <div class="row row-cols-4">

    </div>
</div>


<div class="row shop-now">
    <div class="col">
    </div>
    <div class="col-5 text-center logo-font text-black">
        <h1></h1>
        <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
    <div class="col">
    </div>
</div>
</div>

{% endblock %}