/* General Styling */

html {
    height: 100%;
}

body {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat';
}

header {
    background: #fff8f8;
}

#main-heading {
    font-family: 'Racing Sans One';
    font-size: 250%;
}

.shop-now-button {
    margin-top: 200px;
    margin-left: -40px;
    background: #FD5075 !important;
}

.shop-now-button:hover {
    background: #424242 !important;
}


.h1-large {
    font-size: 310%;
    font-weight: 1000;
}

#delivery-banner {
    font-size: 80%;
}

#main-nav {
    font-size: 90%;
}

.dropdown-item {
    font-size: 80%;
}

.home-text {
    margin-top: 900px;
    position: absolute;
    overflow-y: scroll;
}

#banner {
    margin-top: 800px;
    background: black;
    width: 100%;
    height: 700px !important;
    position: absolute;
    overflow: scroll;
}

.banner-text {
    font-size: 250% !important;
    margin-top: 10px !important;
    padding-top: 10px;
    color: #fff8f8;
}

footer {
    padding-top: 10px;
    margin-top: 46px;
    height: 150px;
    background-color: #424242;
}

.hp-images {
    margin-top: 900px;
    height: 30%;
}

.girls {
    height: 40% !important;
}

.row {
    margin-left: 1px !important;
    margin-right: 1px !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}