<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropbtn" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0 dropdown-content" aria-labelledby="all-clothes-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?category=sports_bras,crop_tops,long_sleeve,leggings,shorts"
                    class="dropdown-item">All Clothes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropbtn" href="#" id="tops-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tops
            </a>
            <div class="dropdown-menu border-0 dropdown-content" aria-labelledby="tops-link">
                <a href="{% url 'products' %}?category=sports_bras" class="dropdown-item">Sports Bras</a>
                <a href="{% url 'products' %}?category=crop_tops" class="dropdown-item">Crop Tops</a>
                <a href="{% url 'products' %}?category=long_sleeve" class="dropdown-item">Long Sleeve</a>
                <a href="{% url 'products' %}?category=sports_bras,crop_tops,long_sleeve" class="dropdown-item">View
                    all</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropbtn" href="#" id="bottoms-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bottoms
            </a>
            <div class="dropdown-menu border-0 dropdown-content" aria-labelledby="bottoms-link">
                <a href="{% url 'products' %}?category=leggings" class="dropdown-item">Leggings</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=shorts,leggings" class="dropdown-item">View all</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black dropbtn" href="#" id="sale-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0 dropdown-content" aria-labelledby="sale-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Sale Items</a>
            </div>
        </li>
    </ul>
</div>